version: '3.8'
services:
  service-registry:
    build: ./service-registry/service-registry
    container_name: service-registry
    ports:
      - "8761:8761"
  
  user-service:
    build: ./user-service/user-service
    container_name: user-service
    ports:
      - "8081:8081"
    depends_on:
      - service-registry
  
  order-service:
    build: ./order-service/order-service
    container_name: order-service
    ports:
      - "8082:8082"
    depends_on:
      - service-registry
      - user-service
  
  api-gateway:
    build: ./api-gateway/api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - service-registry
      - order-service
      - user-service
