server:
  port: 8082

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:5432/microservices_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true  # ✅ Add this
    instance-id: ${spring.application.name}:${server.port}  # ✅ Add this

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.kafka: DEBUG
    feign: DEBUG

resilience4j:
  circuitbreaker:
    instances:
      userServiceCB:
        registerHealthIndicator: true
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 2

  timelimiter:
    instances:
      userServiceCB:
        timeoutDuration: 2s

management:
  tracing:
    sampling:
      probability: 1.0   # trace 100% requests (dev only)

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

