server:
    port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/microservices_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  spring:
    kafka:
      bootstrap-servers: localhost:9092
      consumer:
        group-id: user-service-group
        auto-offset-reset: earliest
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.StringDeserializer



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true  # ✅ Add this
    instance-id: ${spring.application.name}:${server.port}  # ✅ Add this

management:
  tracing:
    sampling:
      probability: 1.0   # trace 100% requests (dev only)

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
