name: Microservices CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Eureka Server
        run: mvn clean package -DskipTests
        working-directory: service-registry

      - name: Build User Service
        run: mvn clean package -DskipTests
        working-directory: user-service

      - name: Build Order Service
        run: mvn clean package -DskipTests
        working-directory: order-service

      - name: Build API Gateway
        run: mvn clean package -DskipTests
        working-directory: api-gateway
